<div id="login-form-div">
  <%= form_tag sessions_path, id: "login-form" do %>
    <div class="form-section">
      <%= label_tag :employee_num, "Employee Number:" %>
      <%= text_field_tag :employee_num %>
    </div>
    <div class="form-section">
      <%= label_tag :password, "Password:" %>
      <%= password_field_tag :password %>
    </div>
    <div class="form-section">
      <%= submit_tag "Login" %>
    </div>
  <% end %>

  <div class="errors">
    <%= render 'shared/errors' %>
  </div>

  <div id='tag-line'>
    <p>It's Rocket Science.</p>
  </div>
</div>
